body{
    font-family: 'Athiti';
    font-size: 18px;
    margin:auto;
    text-align: center;
    padding: 0;
}
.container {
    margin: auto;
    max-width: 1100px;
}

.fa-star {
   font-size: 10px;
   position: relative;
   bottom: 5px;
}
h1{
    position: relative;
    top: 20px;
    left:10px
}
h1, h2, h3, h4{
    font-family: 'Merienda';
}

h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
.specialMenu h3{
   font-size: 20px;
}
.specialMenu>p{
    font-size: 15px;
}
h4{
    font-size: 18px;
}
.footer p, .seemore{
    font-size: 16px;
}


/*************************************************/
/*Header*/

header {
	text-align: center;
    margin: 4em 20em;
}



.header {
	margin: auto;
    max-width: 1100px;
}
nav{
    position:relative;
    bottom:30px;
    
}
nav ul {
	list-style: none;
	padding-left: 0;
}

nav li{
    display: inline-block;
    font-size: 0.7em;
    
}
nav a 
{
	color: black;
	text-decoration: none;  
	border-left: 3px solid transparent;
	border-bottom: 3px solid transparent;
	/*transition: all 0.7s;*/
	margin-bottom: 1rem;
    background-color:#ebe3db ;
    padding: 0.3em 2em ;
}

#contact, #about, #menu
{
  margin-left: 2em;
}
.home {
    background-color:#4c4343 ;
    color: white;
}
.logo{
    width: 100px;
    height: auto;
    float: left;
}
h1{
    text-align: left;
   
}
nav{ 
    text-align: right}

.fade{
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc; /* Ajustez la couleur selon vos besoins */
    display: none;
  }
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Ajustez la largeur selon vos besoins */
    height: 30px; /* Ajustez la hauteur selon vos besoins */
    background-color: #333; /* Ajustez la couleur selon vos besoins */
    cursor: pointer;
  }
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Ajustez la largeur selon vos besoins */
    height: 30px; /* Ajustez la hauteur selon vos besoins */
    background-color: #333; /* Ajustez la couleur selon vos besoins */
    cursor: pointer;
  }
  
  .arrow-left {
    left: 10px;
  }
  
  .arrow-right {
    right: 10px;
  }


/*************************************************/
/*Main*/

.freshly{
    margin-top: 4em;
}
.freshly p {
    text-align: left;
    padding-top : 1em;
}

.location{
    float: right;
    width: 400px;
    height: auto;
    max-width: 100%;
}
main article{
    background-color: #ebe3db;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
   
}
.photo{
    height: auto;
    width: auto;
    position: relative;
}

.prix {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 8px;
    
    
	/* centrage du content */
	display: flex;
	justify-content: center;
	align-items: center;
    


	/* transparent */
	opacity: 0;
}

figcaption p {
    position: relative;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin: 0;
}
.photo figcaption{
    color: white;
}
figcaption.prix div{
    border: 2px solid white;
    padding: 10px;
    width: 70%;
    height: 70%;
    display: flex;
	justify-content: center;
	align-items: center;
   flex-direction: column;
}
figcaption {
    background-color:rgba(0,0,0,0.6)
}

.photo:hover figcaption{
    opacity: 1;
}
strong{
    font-size: 150%;
}

/*********************special menu***************/
.menu{
    margin-top: 10em;
}

.fishMenu{
    margin: 0 1em
}
.specialMenu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}
.specialMenu  p.description
{
    border-bottom: 1px dashed #4c4343;
    text-align: left;
    width: 100%;    
}

img{
    width: 100%;
}

.seemore
{
    width: 100%;
    background-color: #4c4343;
    color:white ;
    padding: 0 4em; 
}
/********Footer****************************/
.footer{
    background-image: url(ressources/images/footer-bg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer article
{
    width: 300px;
}

.contact{
    margin: 0 5em;
}

h4{
    border-bottom: 1px dashed white;
    width: 90%;
}
a.tel {
    text-decoration: none;
    color:white
}
/*********************Tablette************/

@media screen and (min-width:780px) and (max-width:980px){

    /********header******/
body{
    margin: 0;
}
.header{
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: auto;
	text-align: center;
}

.header {
	padding: 2rem 0;
}
h1{
    margin: 1em auto;
   /* padding: auto;*/
}
.logo {
	
	margin: auto;
    /*padding: auto;*/
    width: 25%;
}

nav {
    display: flex;
    background-color: #ebe3db;
    justify-content: space-around;
    position: relative;
    bottom: 1px;
}
li {
    margin: 0 2em;

}
.container{
      
    margin: 1em;
    padding: 0;
   
}
.freshly{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.location{
    width: 100%;
}

.menu{
    margin-top: 0;
}
.specialMenu{
    display: flex;
    flex-direction: column;
}
.meatMenu{
    margin-bottom: 1em;

}

.fishMenu{
margin: auto;
}
.vegeMenu{
margin-top: 1em;
}
}

/*******************mobil*******************/
@media screen and (max-width:780px){
    body
    {
        margin: 0;
      /*  max-width: auto;*/
    }
    .header{
        display: flex;
        flex-direction: column;
        max-width: 980px;
        margin: auto;
        text-align: center;
    }
    #contact, #about, #menu {
        margin-left: 0;
    }
    .header {
        padding: 2rem 0;
    }
    h1{
        margin: 1em auto;
     /*   padding: auto;*/
    }
    .logo {
        margin: auto;
      /*  padding: auto;*/
        width: 25%;
    }

    nav li
    {     
        text-decoration: none;
       display: flex;
       justify-content: center;
       flex-direction: row;
        border-bottom: 1px solid #4c4343;
        transition: all 0.7s;
        background-color: #ebe3db;   
    }

    .freshly {
       display: block;
       margin:0 
    }

    .container{
      
        margin: 1em;
        padding: 0;
       
    }
    .location{
        float: none;
        width: 100%;

    }

    .specialMenu{
        display: flex;
        flex-direction: column;
    }
   .meatMenu{
        margin-bottom: 1em;

   }

   .fishMenu{
    margin: auto;
   }
   .vegeMenu{
    margin-top: 1em;
   }

   .menu{
    margin-top: 0;
}
   /************************footer********************/

   .footer{
    display: flex;
    flex-direction: column;
  
   }
    .footer article{
        margin: auto;
    }
    .titreOpen{
        width: 100%;
        padding: 2em;
    }

}